@font-face {
    font-family: 'Proxima Nova';
    src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff2');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff2');
    font-weight: 600;
  }

body {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    color: #333;
    background-color: #eee;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.nav-header {
    background-color: #fff159;
    position: relative;
    height: 60px;
}

.nav-bounds {
    height: auto;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 160px;
}

.nav-logo {
    background-image: url(https://http2.mlstatic.com/ui/navigation/4.1.4/mercadolibre/logo__large_plus@2x.png);
    background-size: 134px 34px;
    height: 34px;
    top: 11px;
    width: 134px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    position: absolute;
    left: 10px;
}

.nav-search {
    left: 35px;
    width: 600px;
    padding: 8px 1px;
    overflow: auto;
    height: 54px;
    position: relative;
    box-sizing: border-box;

    .search-bar {
        padding: 7px 60px 9px 15px;
        border-radius: 2px;
        background-color: #fff;
        border: 0 rgba(0,0,0,.2);
        color: #333;
        font-size: 16px;
        width: 100%;
        margin: 0;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        height: 39px;
        box-sizing: border-box;
        font-size: 14px;

        &::placeholder {
            color: rgba(0,0,0,.25);
            visibility: visible
        }
    }

    .search-button {
        background-image: none;
        height: 39px;
        padding-top: 2px;
        cursor: pointer;
        border-radius: 0 2px 2px 0;
        width: 46px;
        border: 0 rgba(0,0,0,.2);
        background-color: #fff;
        top: 8px;
        right: 1px;
        position: absolute;

        &:before {
            content: '';
            display: block;
            height: 26px;
            border-left: 1px solid #e6e6e6;
            position: absolute;
            top: 6.5px;
        }

        .search-button-icon {            
                vertical-align: top;
                font-size: 16px;
                line-height: 21px;

            span {
                display: none;
            }
        }
    }
}

.breadcrumb {
    margin: 0 0 10px;
    padding: 0;
        
    li {
        display: inline;
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 2px;
        line-height: 1.45;

        &:last-child .breadcrumb-icon {
            display: none;
        }
    }

    &-icon {  
        .ui-icon--chevron-right {
            vertical-align: middle;
        }
    }
    
}

.breadcrumb-title {
    color: #333;
    display: block;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin: 16px 16px 8px 0;
    position: relative;
    word-wrap: break-word;
    z-index: 1;
}

.item-price {
    color: #333;
    font-size: 24px;
    line-height: 1.2;
    vertical-align: middle;    
}

.item-price_symbol {
    margin-right: 5px;
}